@import url(https://fonts.bunny.net/css?family=dm-sans:400,500,700|kanit:700);

@tailwind base;
@tailwind components;
@tailwind utilities;

.partner-img{
    width: 150px !important;
    height: auto;
}

.hoome-sllider-dots .slick-dots .slick-active div  {
    background-color: #FD9636;
    width: 12px;
    height: 12px;
}

.hoome-sllider-dots .slick-dots li div  {
    background-color: #c6e0d7;
    width: 10px;
    height: 10px;
    margin: 0 2px;
}
.hoome-sllider-dots .slick-dots li   {
    margin: 0 0px;
}