@import url(https://fonts.bunny.net/css?family=dm-sans:400,500,700|kanit:700);

@tailwind base;
@tailwind components;
@tailwind utilities;

.partner-img{
    width: 150px !important;
    height: auto;
}

.hoome-sllider-dots .slick-dots .slick-active div  {
    background-color: #FD9636;
}

.hoome-sllider-dots .slick-dots li div  {
    background-color: #c6e0d7;
}